@font-face {
  font-family: Sagar;
  src: url(fonts/sagarnormal.ttf);
}
body{font-family: Sagar; font-weight: 300;}
ul{list-style:none;}
.brand-area{
 
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
}
.nav-item a i{
  font-size:20px !important;
}
.form-size{
  max-width: 580px !important;
  margin: 0 auto !important;
}
.zilla-word-item{
  font-size: 20px;
  text-decoration: none;
}
.word-list ul{
  list-style: none;
  padding: 0 !important;
}
.word-list ul li a span{
  text-decoration: underline;
}
.word-list-title{
  border-radius: 30px;
}

.the-details .word-text strong{
  font-size: 40px;
  font-weight: 700;
}
.the-details .word-text p{
  font-size: 25px;

}
